Options All -Indexes

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1

RewriteEngine on
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}